/* .carousel-container {
    border: 1px solid;
    height: 70vh;
    width: 100vh;
    margin-inline: auto;
}

.carousel-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */