@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --text-orange: hsl(26, 100%, 55%);
    --bg-orange-50: hsl(25, 100%, 94%);
    --text-white-90: hsl(223, 64%, 98%);
    --text-grey-30: hsl(220, 14%, 75%);
    --text-grey-50: hsl(219, 9%, 45%);
    --text-black-90: hsl(220, 13%, 13%);
}

body {
    font-family: 'Kumbh Sans', sans-serif !important;
    background-color: rgba(242, 242, 242, 0.722) !important;
}

.text-orange {
    color: var(--text-orange);
    
}

.bg-orange-50 {
    background-color: var(--bg-orange-50);
}

.bg-orange {
    background-color: var(--text-orange)
}

.text-white-90 {
    color: var(--text-white-90);
}

.text-grey-30 {
    color: var(--text-grey-30);
}

.text-grey-50 {
    color: var(--text-grey-50);
}

.text-black-90 {
    color: var(--text-black-90);
}

.navbar-toggler, .navbar-toggler:focus{
    border: transparent!important;
    outline: transparent !important;
    box-shadow : none !important;
}

.navbar-toggler-icon {
    background: url('./assets/menu.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--bg-orange-50);
}

.popular-brands-header {
    position: absolute;
    top: 0;
    left: 0;
}

.customNavigationTarget .swiper-button-prev, .customNavigationTarget .swiper-button-next  {
    top: 0%;
    width: fit-content;
    margin-top: 0;
    color: var(--text-orange);
    padding: 10px 16px;
}

.customNavigationTarget .swiper-button-next {
    right: 3.5rem;
}

.customNavigationTarget .swiper-button-prev {
    left: 85vw;
}

@media screen and (min-width: 1280px) {
    .customNavigationTarget .swiper-button-prev {
        left: 90vw;
    }
}

.customNavigationTarget .swiper-button-prev::after, .customNavigationTarget .swiper-button-next::after  {
    font-size: 1.25rem;
}

.customNavigationTarget .swiper-button-prev:hover, .customNavigationTarget .swiper-button-next:hover  {
    background-color: rgba(255, 151, 113, 0.174);
    padding: 10px 16px;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .customNavigationTarget .swiper-button-prev, .customNavigationTarget .swiper-button-next {
        display: none!important
    }
}


